* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* body > * {
  height: 20px;
  width: 20px;
  border: 1px solid aqua;
} */

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  border: 1px solid blue;
}

.header {
  grid-row: 1;
  grid-column: 1 / 3;
  border: 1px solid green;
}

.main-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border: 1px solid yellow;
}
